<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://unpkg.com/vue"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div id="app">
			<ul>
				<li v-for='(value,index) in list'>
					{{ index+1 }} {{ value }}
				</li>
			</ul>
			<div class="form-group col-lg-6">
				<input type="text" class="form-control" v-model='newFruit'>
				<button class="btn btn-info" @click='add'>Add me</button>
			</div>
		</div>
	</div>
	
	<script>
		new Vue ({
			el:'#app',
			data:{
				list:[
					fruit='apple',
					fruit='mango',
					fruit='orange',
					fruit='banana',
				],
				newFruit:''
			},
			methods:{
				add:function(){
					this.list.push(this.newFruit);
					this.newFruit = '';
				}
			}
		});
	</script>

</body>
</html>